@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* common style */
header, main, .footer-section{
    max-width: 1200px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}

/* color */
.main-color{
    color: #3A3A3A;
}
.color-2nd{
    color: #E02C6D;
}

/* font-family */
.roboto{
    font-family: "Roboto", sans-serif;
}
.inter{
    font-family: "Inter", sans-serif;
}
.manrope{
    font-family: "Manrope", sans-serif;
}
.poppins{
    font-family: "Poppins", sans-serif;
}

/* nav-container */
.nav-container{
    margin-top: 87px;
    justify-content: space-between;
    align-items: center;
}
.menu-icon{
    display: none;
}
.brand-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-section{}
.menu-section li{
    list-style: none;
}
.menu-section li a{
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    margin-right: 34px;
}

/* hero-section */
.hero-section{
    justify-content: space-between;
    align-items: center;
    margin: 80px 0 100px;
    height: 475px;
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-position: right;
    /* border: 1px solid red; */
}

.hero-section-text{
    max-width: 582px;
}
.hero-section-text h1{
    font-weight: bold;
    font-size: 3.25rem;
}
.hero-section-text p{
    font-weight: 600;
    font-size: 1rem;
    margin: 16px 0;
}
.hero-section-text button{
    color: white;
    font-weight: bold;
    font-size: 1rem;
    background-color: #E02C6D;
    padding: 10px 56px 10px 24px;
    border: none;
    border-radius: 41px;
}
.hero-section-text button i{
    padding: 5px 0 5px 8px;
}

.hero-section-img{
    margin-left: 133px;
}
.hero-section-img img{
    width: 100%;
}

/* feature selection */
.feature-selection{
    width: 1110px;
    height: 110px;
    margin: 0 auto;
    padding: 35px 61px;
    /* border: 1px solid black; */
}
.feature-part{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
}
.feature-part img{
    margin: 0 auto;
    /* border: 1px solid red; */
}

/* popular collection */
.popular-collection{
    max-width: 1047px;
    height: 1662px;
    margin: 100px auto 100px;
}

.popular-collection-title{}
.popular-collection-title h2{
    text-align: center;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 30px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.card{
    max-width: 329px;
    height: 476px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid white;
    padding: 17px 14px;
}
.card img{
    width: 100%;
}
.card h3{
    color: #18191F;
    font-weight: 500;
    font-size: 1.75rem;
    margin: 16px 0 6px;
}
.card h4{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
}
.reating-section h4{
    font-weight: bold;
    color: #5E6366;
    font-size: 0.875rem;
    max-width: 122px;
    height: 32px;
    margin: 0;
    padding: 5px 3px;
    text-align: end;
}
.card h5{
    max-width: 196px;
    font-weight: bold;
    font-size: 0.875rem;
    color: #787885;
}

.popular-collection-see-more{
    padding-top: 50px;
}
.popular-collection-see-more h6{
    font-size: 1rem;
    font-weight: bold;
    color: rgba(224, 44, 109, 0.87);
    text-align: end;
}
/* featured-section */
.featured-section{
    max-width: 1110px;
    height: 270px;
    margin: 0 auto 100px;
    /* border: 1px solid red; */
}

.featured-img{}
.featured-img img{
    width: 100%;
}

.featured-text{
    width: 610px;
    height: 224px;
    margin: 23px 0 23px 96px;
    /* border: 1px solid red; */
}
.featured-text h2{
    color: #0A0826;
    font-weight: bold;
    font-size: 2.3rem;
}
.featured-text p{
    color: #6C6C6C;
    font-size: 1.2rem;
    font-weight: bold;
    max-width: 501px;
    margin: 16px 0;
    /* border: 1px solid red; */
}
.featured-text button{
    background-color: #E02C6D;
    color: white;
    padding: 10px 24px;
    border: none;
}
/* foooter-container */

.foooter-container{
    height: 211px;
    background-color: #0A0826;
    padding-top: 50px;
    /* border: 1px solid #0A0826; */
}
.footer-section2{
    width: 262px;
    height: 139px;
    margin:0 auto;
    /* border: 1px solid yellowgreen; */
    text-align: center;
}
.footer-section2 h4{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.5rem;
}
.footer-section2 h5{
    color: #D9DBE1;
    font-weight: bold;
    font-size: 0.875rem;
    margin: 3px 0;
}
.footer-section2 h6{
    color: #D9DBE1;
    font-weight: bold;
    font-size: 0.875rem;
}

.social-icon{
    margin-top: 17px;
}
.social-icon a{}
.social-icon a img{
    margin-right: 16px;
}

/* for mobile responsiveness */
@media screen and (max-width: 576px){
    .nav-container{
        /* max-width: 328px; */
        margin: 35px 16px 22px;
        /* border: 1px solid red; */
    }
    .menu-icon{
        display: block;
    }
    .menu-icon a{
        text-decoration: none;
    }
    .menu-icon a i{
        color: #1B1B1B;
    }
    .none-mobile{
        display: none;
    }
    .menu-section li a{
        margin-right: 0;
        color: #000000;
    }
    .brand-title{
        font-size: 1rem;
    }
    .hero-section{
        flex-direction: column-reverse;
        margin: 22px 0 50px;
        height: 500px;
        background-position: top center;
        background-size: 53%;
        /* border: 1px solid red; */
    }
    .hero-section-img{
        margin: 0 auto;
        width: 257px;
        height: 257px;
        /* border: 1px solid goldenrod; */
    }
    .hero-section-img img{
        /* padding: 51px 13px 16px 22px; */
        margin: 0 auto;
        width: 80%;
    }
    .hero-section-text{
        max-width: 360px;
        margin: 14px auto 0;
        /* border: 1px solid greenyellow; */
        text-align: center;
    }
    .hero-section-text h1{
        font-size: 1.75rem;
    }
    .hero-section-text p{
        font-weight: 500;
        font-size: 0.875rem;
        margin: 15px 0 20px;
    }
    .hero-section-text button{
        font-weight: 500;
        /* font-size: 1rem;
        background-color: #E02C6D;
        padding: 10px 56px 10px 24px;
        border: none;
        border-radius: 41px; */
    }
    /* feature selection */
    .feature-selection{
        width: 275px;
        height: 61px;
        padding: 0;
    }
    .feature-part{
        /* border: 1px solid red; */
        /* display: grid; */
        grid-template-columns: repeat(4, 0.5fr);
        /* align-items: center; */
    }
    .feature-part img{
        /* margin: 0 auto; */
        width: 90%;
    }
    /* popular collection */
    .popular-collection{
        max-width: 329px;
        height: 4504px;
        margin: 50px auto;
    }

    .popular-collection-title{}
    .popular-collection-title h2{
        font-size: 1rem;
        margin-bottom: 20px;
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 15px;
    }
    .card{
        max-width: 329px;
        height: 476px;
        background-color: #FFFFFF;
        border-radius: 5px;
        box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
        border: 1px solid white;
        padding: 17px 14px;
    }
    .card img{
        width: 100%;
    }
    .card h3{
        font-weight: bold;
    }
    .card h4{
        font-weight: bold;
    }
    .reating-section h4{
        font-weight: 500;
    }
    .card h5{
        font-weight: 400;
    }

    .popular-collection-see-more{
        padding-top: 50px;
    }
    .popular-collection-see-more h6{
        font-size: 1rem;
        font-weight: bold;
        color: rgba(224, 44, 109, 0.87);
        text-align: end;
    }
    /* featured-section */
    .featured-section{
        flex-direction: column-reverse;
        max-width: 329px;
        height: 526px;
        margin: 0 auto 50px;
        /* border: 1px solid red; */
    }

    .featured-img{
        margin-top: 30px;
    }
    .featured-img img{}

    .featured-text{
        width: 329px;
        /* height: 308px; */
        margin: 0 auto;
        text-align: center;
        /* border: 1px solid red; */
    }
    .featured-text h2{
        font-size: 1.5rem;
    }
    .featured-text p{
        font-size: 1rem;
        max-width: 329px;
        margin: 15px 0;
    }
    /* foooter-container */
    .foooter-container{}
    .footer-section2{
        width: 224px;
        height: 111px;
        /* border: 1px solid yellowgreen; */
    }
    .footer-section2 h4{
        font-size: 1rem;
    }
    .footer-section2 h5{
        font-size: 0.75rem;
        margin: 3px 0 5px;
    }
    .footer-section2 h6{
        font-size: 0.75rem;
    }

    .social-icon{
        margin-top: 10px;
    }
    .social-icon a{}
    .social-icon a img{
        margin-right: 7px;
    }
}

/* for tablet responsiveness */
@media screen and (min-width: 576px) and (max-width: 992px){
    
}